{% extends 'videos/basic.html' %}
{% block body%}
{% load static %}
<div class="row container-fluid">
    <div class="col-2">
    </div>
    <div class="col-7">
        <div class="row col-12" style="padding-top: 10px">
            <div class="loop-actions cf">
            
                <div class="badge badge-secondary text-wrap"><h4><span class="prefix">Sort:</span><span> <a href="/home/{{page}}date" title="Sort by Date" class="date"><i style="color: red;">Date</i></a> <span>|</span> <a href="/home/{{page}}title" title="Sort by Title" class="title current"><i style="color: red;">Title</i></a> <span>|</span><a href="/home/{{page}}random" title="Sort By Random" class="rand"><i style="color: red;">Random</i></a> </span>
                </h4>

        </div>
    </div>
        </div>
        <div class="row">
            {% for prod in vid%}
            <div class="col-sm-12 col-md-6  col-lg-4" style="padding-top: 20px;">
                <a href="/media/{{prod.id}}"> 
                	<div class="imgbox">
                		<img src="/media/{{prod.thumb}}" width="190" height="100">
                	</div></a>
                	
                <div class="row col-12" style="padding-left:10px;padding-top: 10px">
                    <b>{{prod.title|slice:"0:45"}}...
                    </b>
                </div>
                <div class="row" style="padding-left:10px;">
                    desc and stuff shown here
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
       
            {% endif %}
            {% endfor%}
        </div>
        <div class="row" style="padding-top: 20px;">
        	
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    {% for i in no_pages %}
                    <div class="col-1">
                    
                    
                    <a href="/home/{{i}}{{sort}}">
                		{% if i == page%}

                    	<button type="button" class="btn btn-secondary">

                    		<p style="color: red;">{{i}}</p>
                    		
                    	</button>
                    	{% else %}
                    	<button type="button" class="btn btn-secondary">

                    		<p style="color: white;">{{i}}</p>
                    		
                    	</button>

                    	{% endif%}
                    </a>
                    
                    </div>
                   
                    {%endfor%}
                
                </div>
            
        </div>
        </div>
        <div class="row" style="padding-top: 20px;padding-bottom: 50px;">
        	<div class="col-sm-12 col-md-6 col-lg-4" >
        		<div class="row">
        	 <img src="/media/snapchatAd.gif" width="200" height="130">
        	</div>
        	<div class="row">
        		add info shows here
        	</div>
        	</div>
        	<div class="col-sm-12 col-md-6 col-lg-4">
        		<div class="row">
        	 <img src="/media/GoogleAd.jpg" width="200" height="130">
        	</div>
        	 <div class="row">
        		add info shows here
        	</div>
        	</div>
        	<div class="col-sm-12 col-md-6 col-lg-4">
        		<div class="row">
        	 <img src="/media/facebookAd.png" width="200" height="130">
        	</div>
        	 <div class="row">
        		اشتہار کی معلومات یہاں دکھائے گی۔

        	</div>
        	</div>
        	
         
     
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <img src="/media/tideAd.gif" width="300" height="250">
        </div>
        <div class="row " style="padding-top:30px">
            <b>Generes</b>
        </div>
        <br>
        <div class="row">
             {% for g in allgenres%}
            <div class="col-sm-6 col-md-6 col-lg-4">
            	<a href="/genre/{{g}}"><b>{{g}}</b></a>
            </div>
           
        
            {% endfor%}
        </div>
       
       
        <div class="row" style="padding-top:30px">
            <img src="/media/GoogleAd.jpg" width="300" height="250">
        </div>
    </div>
</div>
{% endblock%}